.custom_scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.custom_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.custom_scroll::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}

/* Handle on hover */
.custom_scroll::-webkit-scrollbar-thumb:hover {
    background: white;
}

i.fas.fa-check-double.seen {
    color: white
}

.send_msg {
    position: relative;
    padding-right: 24px; /* Add padding to make space for the tick mark */
}

.tick-mark {
    position: absolute;
    bottom: 4px; /* Adjust as needed */
    right: 8px; /* Adjust as needed */
}

.tick-mark i {
    font-size: 12px; /* Adjust size as needed */
}

.receiver_msg .tick-mark {
    display: none; /* Hide tick mark for receiver messages */
}
